@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

:host(:has(.◆transform-target):not(:has(:is(.◆drop-caret-before, .◆drop-caret-after)))) {
  .◆gap-caret {
    display: none;
  }
}

:host(:has(.◆transform-target):has(:is(.◆drop-caret-before, .◆drop-caret-after))) {
  #◆transform-overlay {
    opacity: 0.1 !important;
  }
}

.◆gap-before-selected, .◆gap-after-selected, .◆drop-caret-before, .◆drop-caret-after {
  anchor-name: --gap-anchor;
}

.◆gap-caret {
  user-select: none;
  pointer-events: none;
  height: 0;
  overflow: visible;
  position: fixed;
  position-anchor: --gap-anchor;
  --size: 1em;

  &[visibility=hidden] {
    display: none;
  }

  &.◆drop-caret-before, &.◆drop-caret-after {
    color: var(--sl-color-primary-400);
    --size: 1.5em;
  }

  &.◆gap-before-selected, &.◆drop-caret-before {
    position-area: top center;
    justify-self: start;
  }

  &.◆gap-after-selected, &.◆drop-caret-after {
    position-area: bottom center;
    justify-self: start;
  }

  &::after {
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    clip-path: polygon(
      26% 50%,
      0 16%,
      3% 13%,
      30% 48%,
      100% 48%,
      100% 52%,
      30% 52%,
      3% 87%,
      0 84%
    );
    margin-left: calc(-0.4 * var(--size));
    margin-top: calc(-0.4 * var(--size));
    background: currentColor;
    animation: blink 1s step-end 0s infinite;
  }
}
#◆transform-overlay {
  position: fixed;
  position-anchor: --transform-target;
  position-area: center;
  width: anchor-size(--transform-target width);
  height: anchor-size(--transform-target height);
  outline-offset: 2px;
  outline: 2px solid var(--sl-color-primary-400);
  cursor: move;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  user-select: auto;
  pointer-events: all;
  margin: 0;
  min-width: 30px;
  min-height: 25px;
  z-index: 2147483647;
}

#◆transform-overlay[visibility=hidden] {
  display: none !important;
}

#◆transform-overlay-anchor {
  position: fixed;
  position-area: start;
  position-anchor: --transform-containing-block;

  width: 16px;
  height: 16px;
  cursor: grab;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--sl-color-primary-400);
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-anchor"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v12m-8 -8a8 8 0 0 0 16 0m1 0h-2m-14 0h-2" /><path d="M9 6a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>');
  }

  &[visibility=hidden] {
    display: none !important;
  }

  &:is([data-position=relative], [data-position=sticky]) {
    background-image: linear-gradient(140deg, var(--sl-color-primary-100) 14.29%, transparent 14.29%, transparent 50%, var(--sl-color-primary-100) 50%, var(--sl-color-primary-100) 64.29%, transparent 64.29%, transparent 100%);
    background-size: 10.89px 9.14px;
    border: 1px solid var(--sl-color-primary-100);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not([data-position=sticky]):not([data-position=relative]:hover) #◆transform-overlay-anchor-sticky {
    display: none !important;
  }

  &[data-position=sticky] #◆transform-overlay-anchor-sticky, & #◆transform-overlay-anchor-sticky:hover {
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15.113 3.21l.094 .083l5.5 5.5a1 1 0 0 1 -1.175 1.59l-3.172 3.171l-1.424 3.797a1 1 0 0 1 -.158 .277l-.07 .08l-1.5 1.5a1 1 0 0 1 -1.32 .082l-.095 -.083l-2.793 -2.792l-3.793 3.792a1 1 0 0 1 -1.497 -1.32l.083 -.094l3.792 -3.793l-2.792 -2.793a1 1 0 0 1 -.083 -1.32l.083 -.094l1.5 -1.5a1 1 0 0 1 .258 -.187l.098 -.042l3.796 -1.425l3.171 -3.17a1 1 0 0 1 1.497 -1.26z" /></svg>');
  }
}

#◆transform-overlay-anchor-sticky {
  background: none;
  border: none;
  margin: none;
  position: absolute;
  left: calc(50% + 3px);
  top: 0;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>');

  &::before {
    width: 12px;
    height: 12px;
  }
}

#◆transform-overlay-scale-up-left {
  grid-row: 1;
  grid-column: 1;
  justify-self: left;
  align-self: top;
  top: -7px;
  left: -7px;
  cursor: nwse-resize;
}
#◆transform-overlay-scale-up-up {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: top;
  top: -7px;
  cursor: ns-resize;
}
#◆transform-overlay-scale-up-right {
  grid-row: 1;
  grid-column: 3;
  justify-self: right;
  align-self: top;
  top: -7px;
  right: -7px;
  cursor: nesw-resize;
}
#◆transform-overlay-scale-left-left {
  grid-row: 2;
  grid-column: 1;
  justify-self: left;
  align-self: center;
  bottom: -1px;
  left: -7px;
  cursor: ew-resize;
}
#◆transform-overlay-scale-right-right {
  grid-row: 2;
  grid-column: 3;
  justify-self: right;
  align-self: center;
  bottom: -1px;
  right: -7px;
  cursor: ew-resize;
}
#◆transform-overlay-scale-down-left {
  grid-row: 3;
  grid-column: 1;
  justify-self: left;
  align-self: end;
  bottom: -7px;
  left: -7px;
  cursor: nesw-resize;
}
#◆transform-overlay-scale-down-down {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  align-self: end;
  bottom: -7px;
  cursor: ns-resize;
}
#◆transform-overlay-scale-down-right {
  grid-row: 3;
  grid-column: 3;
  justify-self: right;
  align-self: end;
  bottom: -7px;
  right: -7px;
  cursor: nwse-resize;
}

.◆transform-overlay-scale {
  width: 8px;
  height: 8px;
  background: var(--sl-color-primary-400);
}

.◆transform-overlay-scale:hover {
  background: var(--sl-color-primary-300);
}

#◆transform-overlay-rotator {
  position: absolute;
  left: calc(50% - 8px);
  top: -30px;
  width: 16px;
  height: 16px;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-rotate"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" /></svg>'), auto;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--sl-color-primary-400);
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-rotate"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" /></svg>');
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    background: var(--sl-color-primary-400);
    position: absolute;
    left: calc(50% - 1px);
    top: 14px;
    height: 16px;
    pointer-events: none;
  }
}

#◆transform-overlay-restorer {
  position: absolute;
  right: -11px;
  top: -30px;
  border: 2px solid var(--sl-color-primary-400);
  border-radius: 100%;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>');

  &:hover {
    background: var(--sl-color-primary-100);
  }

  &:active {
    background: var(--sl-color-primary-400);
    
    &::before {
      background-color: white !important;
    }
  }

  &::before {
    width: 12px;
    height: 12px;
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    background: var(--sl-color-primary-400);
    position: absolute;
    right: 5px;
    bottom: -14px;
    height: 12px;
    pointer-events: none;
  }
}

.◆transform-overlay-button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--sl-color-primary-400);
    mask: var(--icon);
  }
}

#◆transform-overlay-arranger {
  anchor-name: --transform-overlay-arranger;
  position: absolute;
  left: -10px;
  top: -30px;
  background: var(--sl-color-primary-400);
  border-radius: 2px;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-none"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');

  &::before {
    background-color: white;
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    background: var(--sl-color-primary-400);
    position: absolute;
    right: 8px;
    bottom: -14px;
    height: 16px;
    pointer-events: none;
  }

  &[data-float=none] {
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-none"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');
    & #◆transform-overlay-float-none {
      display: none;
    }
  }

  &[data-float=left] {
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M14 7l6 0" /><path d="M14 11l6 0" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');
    & #◆transform-overlay-float-left {
      display: none;
    }
  }

  &[data-float=right] {
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M4 7l6 0" /><path d="M4 11l6 0" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');
    & #◆transform-overlay-float-right {
      display: none;
    }
  }

  &:not([data-position=static]) {
    display: none;
  }

  &:not([data-open]) #◆transform-overlay-arranger-menu {
    display: none;
  }
}

#◆transform-overlay-arranger-menu {
  position: fixed;
  position-anchor: --transform-overlay-arranger;
  position-area: right;
  display: flex;
  gap: 4px;
  padding-left: 4px;
  cursor: auto;
}

#◆transform-overlay-arranger-menu > button[visibility=hidden] {
  display: none;
}

#◆transform-overlay-float-none {
  background: var(--sl-color-primary-300);
  border-radius: 2px;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-none"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}
#◆transform-overlay-float-left {
  background: var(--sl-color-primary-300);
  border-radius: 2px;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M14 7l6 0" /><path d="M14 11l6 0" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay-float-right {
  background: var(--sl-color-primary-300);
  border-radius: 2px;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-float-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -4" /><path d="M4 7l6 0" /><path d="M4 11l6 0" /><path d="M4 15l16 0" /><path d="M4 19l16 0" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay-orderer {
  anchor-name: --transform-overlay-orderer;
  position: absolute;
  right: -11px;
  top: -30px;
  background: var(--sl-color-primary-400);
  border-radius: 100%;

  &[data-position=static] {
    display: none;
  }

  &:not([data-open])::before {
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stack-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-8 4l8 4l8 -4l-8 -4" /><path d="M4 12l8 4l8 -4" /><path d="M4 16l8 4l8 -4" /></svg>');
    background-color: white;
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    background: var(--sl-color-primary-400);
    position: absolute;
    right: 7px;
    bottom: -14px;
    height: 16px;
    pointer-events: none;
  }

  &:not([data-open]) #◆transform-overlay-orderer-menu {
    display: none;
  }
}

.◆transform-overlay-narrow #◆transform-overlay-orderer::before, #◆transform-overlay-orderer[data-open]::before {
  --icon: unset;
  background-color: unset;
  content: attr(data-z-order) !important;
  font-size: 8px;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#◆transform-overlay-orderer-menu {
  position: fixed;
  position-anchor: --transform-overlay-orderer;
  position-area: left;
  display: flex;
  gap: 4px;
  padding-right: 4px;
  cursor: auto;
}

#◆transform-overlay-orderer-menu > button[visibility=hidden] {
  display: none;
}

#◆transform-overlay-z-back {
  background: var(--sl-color-primary-300);
  border-radius: 100%;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stack-back"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l8 4l8 -4l-8 -4l-8 4" /><path d="M12 16l-4 -2l-4 2l8 4l8 -4l-4 -2l-4 2" fill="currentColor" /><path d="M8 10l-4 2l4 2m8 0l4 -2l-4 -2" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay-z-forward {
  background: var(--sl-color-primary-300);
  border-radius: 100%;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stack-pop"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 9.5l-3 1.5l8 4l8 -4l-3 -1.5" /><path d="M4 15l8 4l8 -4" /><path d="M12 11v-7" /><path d="M9 7l3 -3l3 3" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay-z-backward {
  background: var(--sl-color-primary-300);
  border-radius: 100%;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stack-push"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 10l-2 1l8 4l8 -4l-2 -1" /><path d="M4 15l8 4l8 -4" /><path d="M12 4v7" /><path d="M15 8l-3 3l-3 -3" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay-z-front {
  background: var(--sl-color-primary-300);
  border-radius: 100%;
  --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stack-front"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-8 4l8 4l8 -4l-8 -4" fill="currentColor" /><path d="M8 14l-4 2l8 4l8 -4l-4 -2" /><path d="M8 10l-4 2l8 4l8 -4l-4 -2" /></svg>');

  &:hover {background: var(--sl-color-primary-400)}
  &:active {background: var(--sl-color-primary-500)}

  &::before {
    background-color: white;
  }
}

#◆transform-overlay:not(.◆transform-overlay-changed) #◆transform-overlay-restorer {
  display: none;
}
