/node_modules
/.parcel-cache
*/**/src-tauri/target
*/**/src-tauri/icons
*/**/src-tauri/bin
.vscode
*/**/public
/build
**/node_modules
static
dist
_site
test/data
*.lnk
*/**/_localization/generated
*.key
*.key.pub
*.code-workspace