---
import { getCollection } from 'astro:content';
import Layout from "@layouts/Layout.astro"

const allDocs: any[] = (await getCollection('docs'))
    .filter((doc: any) => doc.slug !== "index" && !doc.data.hidden)
    .sort((a: any, b: any) => a.data.order - b.data.order)
    .map((doc: any) => ({...doc, level: new Set(doc.slug.split("/")).size}))

const categories = new Set(allDocs.reduce((acc, doc) => {
  return doc.slug.includes("/")? [...acc, doc.slug.split("/")[0]]: acc
}, [] as string[]))

const docUrls = allDocs.map(doc => {
    const url = new URL(Astro.request.url)
    url.pathname = `docs/${doc.slug}`
    return url.href
})
const docActive = allDocs.map((doc, i) =>{
    const docPath = new URL(docUrls[i]).pathname
    const currentPath = new URL(Astro.request.url).pathname
    return docPath === currentPath
})
---

<Layout title="Documentation">
  <div class="base">
      <script src="medium-zoom"></script>
      <script>
        import mediumZoom from "medium-zoom";
        mediumZoom(".doc-article img")
      </script>
      <input id="docsNavInput" type="checkbox">
      <label id="docsNavToggle" for="docsNavInput" class="bi-list" ></label>
      <nav id="docsNav">
          <h3 id="documentation-title">
              <a data-swup-preload href="/docs">Documentation</a>
          </h3>
          <ol>
              {allDocs.map((doc, i) => <li class="doc-link" data-level={doc.level} data-hasconfig={allDocs.some(cdoc => cdoc.data.configFor === doc.slug)? true: undefined} data-isconfig={doc.data.configFor? true: undefined}>
                <a data-active={docActive[i]? true: undefined} href={docUrls[i]}>{doc.data.title}</a>
                <a data-active={docActive[allDocs.findIndex(cdoc => cdoc.data.configFor === doc.slug)]? true: undefined} class="config-link" href={docUrls[allDocs.findIndex(cdoc => cdoc.data.configFor === doc.slug)]}>Config</a>
              </li>)}
          </ol>
          <label id="closeDocsNav" for="docsNavInput" class="bi-x" ></label>
      </nav>
      <article class="doc-article">
          <slot></slot>
      </article>
  </div>
</Layout>

<style>
    #docsNav {
        width: 225px;
        border: 2px solid var(--sl-color-gray-950);
        border-radius: 10px;
        padding: 0.5rem 1rem;
        margin-left: 2rem;
        margin-right: 0cap;
        margin-top: 0;
        flex-shrink: 0;
        position: sticky;
        top: calc(70px + 1rem);
        left: 0;
        box-sizing: border-box;
        background: white;
        margin-bottom: 2rem;
    }


    #docsNavInput, #docsNavToggle {
        display: none;
    }

    #closeDocsNav {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3rem;
        line-height: 0;
    }

    #closeDocsNav:hover {
        color: var(--sl-color-primary-400);
    }

    #closeDocsNav:active {
        color: var(--sl-color-primary-800);
    }

    #docsNavToggle {
        margin-top: 2.6rem;
        position: fixed;
        top: 60px;
        left: 0;
        font-size: 1.5rem;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        background: var(--sl-color-gray-950);
        color: var(--sl-color-gray-50);
        padding: 0 2px;
        margin-right: 1rem;
        cursor: pointer;
        z-index: 1000;
    }

    #docsNavToggle:hover {
        color: var(--sl-color-primary-400);
    }

    #docsNavToggle:active {
        color: var(--sl-color-primary-300);
    }

    #documentation-title {
        color: var(--sl-color-gray-50);
        background: var(--sl-color-gray-950);
        padding: 0.5rem 1rem;
        font-weight: bold;
        font-size: 1rem;
        display: inline;
    }

    #documentation-title a:hover {
        color: var(--sl-color-primary-400);
    }

    #documentation-title a:active {
        color: var(--sl-color-primary-800);
    }

    #documentation-title a {
        color: white;
        text-decoration: none;
    }

    .base {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 1rem;
    }
    
    ol {
        display: flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0;
		margin: 0;
		gap: 0.5rem;
        margin-top: 1rem;
    }

    h3 {
        margin: 0;
        margin-bottom: 1rem;
    }

    .doc-link {
      position: relative;
    }

    .doc-link a {
        display: inline-flex;
        text-decoration: none;
        font-size: 1rem;
        height: 1.5rem;
        color: var(--sl-color-gray-950);
        flex-direction: row;
        align-items: center;
        padding-left: 1ch;
        padding-right: 1ch;
        box-sizing: border-box;
        background: white;
        z-index: 1;
    }

    .config-link {
      font-size: 0.8rem !important;
      justify-content: flex-end;
      padding-right: 0 !important;
    }

    .doc-link a:hover {
        color: var(--sl-color-primary-400);
    }

    .doc-link a:active {
        color: var(--sl-color-primary-800);
    }

    .doc-link a[data-active] {
        text-decoration: 2px solid underline;
    }

    .doc-link[data-level=1] {
      margin-top: 0.75rem;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    .doc-link[data-level=1][data-hasconfig]::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: black;
      position: absolute;
      left: 0;
      top: calc(50% + 1px);
    }

    .doc-link:not([data-hasconfig]) .config-link {
      display: none;
    } 

    .doc-link[data-isconfig] {
      display: none;
    }

    .doc-link[data-level=2] {
      margin-left: 1ch;
    }

	.doc-link[data-level=3] {
      margin-left: 2ch;
    }

    @media (max-width: 880px) {

        #docsNavToggle {
            display: block;
        }

        #docsNav {
            display: none;
        }

        #closeDocsNav {
            display: inline;
        }

        #docsNavInput:checked ~ #docsNavToggle {
            display: none;
        }

        #docsNavInput:checked ~ #docsNav {
            display: block;
            background: white;
            position: fixed;
            top: calc(60px + 2.6rem);
            left: -1rem;
            z-index: 100;
            box-shadow: var(--sl-shadow-medium);
            overflow-y: auto;
        }

        article {
            margin-left: auto;
        }
    }

</style>

<style is:global>

    html {
      scroll-padding-top: 70px;
    }

    .doc-article img {
      margin: auto;
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: auto;
      background: var(--background-color);
    }

    article {
        padding-left: 3rem;
        padding-right: 2rem;
        padding-bottom: 2.5rem;
        box-sizing: border-box;
        z-index: 0;
        flex-basis: 700px;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 700px;
    }

    article a {
        color: var(--sl-color-primary-600);
        text-decoration: none;
    }

    article a:hover {
        text-decoration: underline;
    }

    article > p:nth-child(2) {
        border: 2px solid var(--sl-color-gray-950);
        margin: 1rem;
        box-sizing: border-box;
        padding: 0.5rem;
        padding-left: 1rem;
        margin-left: 0;
        background: white;
    }

    article pre {
        padding: 1rem;
        overflow-x: auto !important;
        width: 100%;
        box-sizing: border-box;
    }

    article th {
        text-align: left;
        white-space: nowrap;
        padding-right: 1ch;
    }

    article table {
        border-top: 2px solid var(--sl-color-gray-950);
        border-bottom: 2px solid var(--sl-color-gray-950);
        margin: 0 2ch;
        display: block;
        overflow-x: auto;
    }

    article :is(h1, h2, h3, h4, h5, h6) a {
      color: inherit;
    }

    article h1 {
        font-size: 2.5rem;
        margin-top: 0;
        text-decoration: underline 4px solid var(--sl-color-gray-950);
        position: relative;
        margin: 1rem;
        background: var(--sl-color-gray-950);
        padding: 0.5rem;
        color: var(--sl-color-gray-50);
        margin-bottom: 2rem;
    }

    article h1::after {
        content: "";
        --s: 150px; /* control the size */
        --c: var(--sl-color-primary-500); /* first color */
        --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
        background: 
            linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
            linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
            linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
            linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
            var(--sl-color-primary-600); /* second color */
        background-size: var(--s) var(--s);
        padding: 1rem;
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-sizing: border-box;
    }

    article h2 {
        text-decoration: underline 2px solid var(--sl-color-gray-950);
        margin-top: 2.5rem;
    }

    article p {
        margin-top: 0.1rem;
    }

    article h1, article h2, article h3, article h4, article h5, article h6 {
        font-family: var(--sl-font-sans);
        margin-bottom: 0.1rem;
    }

    article {
        padding-bottom: 4rem;
    }
</style>