html {
  background: #f4f4f5;
}

body {
  display: block;
  margin: 0 auto;
  max-width: 840px;
  padding: 20px;
  background: white;
  min-height: 100vh;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.15rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
  "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
  "Helvetica Neue", sans-serif;
}

figure {
  margin: 0;
}

figure > script {
  display: block;
  font-family: monospace;
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.5rem;
  white-space: pre;
  overflow: scroll;
  height: 300px;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

figure > embed {
  aspect-ratio: 1/1.4142;
}

figure > :is(audio, video, picture, img, picture > img, embed, script) {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 0.125rem;
}

kbd {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  padding: 0 5px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  user-select: none;
}

blockquote {
  padding: 0.4rem 0.8rem;
  border-left: 10px solid #ccc;
  color: var(--text-light);
}

details {
  border-left: 2px solid black;
  padding-left: 1ch;
}

details p {
  margin: 0;
}

picture {
  width: 100%;
  display: block;
}

iframe, audio, video {
  width: 100%;
  aspect-ratio: 16/9;
}

iframe {
  border: none;
}

img[src] {
  width: 100%;
  aspect-ratio: auto;
  max-height: 500px;
  object-fit: contain;
}