<!DOCTYPE html>
<html encoding="utf8">
  <head>
    <title>Testing {{name}}</title>
    <script src="edit.ts" type="module"></script>
  </head>
  <body>
    <{{name}}></{{name}}>
    <form autocomplete="off" style="position: fixed; bottom: 0; right: 0; padding: 10px; background: rgba(255, 255, 255, 0.75)">
      <input checked type="checkbox" onchange="document.querySelector('{{name}}').toggleAttribute('editable')">editable</input>
      <input type="checkbox" onchange="document.querySelector('{{name}}').toggleAttribute('printable')">printable</input>
    </form>
  </body>
</html>